.signupform {
    padding: 2rem;
    margin-top: 4rem;
    border: 2px solid rgb(205, 196, 196);
    background-color: rgb(245, 240, 235);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    width: 45% !important;
}

.login-signup-link {
    text-decoration: none;
    color: white
}

.login-signup-link:hover {
    color: blanchedalmond;
}